.about {
  background: var(--color-black);
}

.content-about {
  padding: var(--font-96px) 15px;
}

.about-img img {
  border-radius: 7px;
}

.about-info {
  padding: 0;
}

.about-info span {
  font-size: var(--font-16px);
  font-weight: 600;
  color: var(--color-lightblue);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-info h2 {
  font-size: var(--font-40px);
  font-weight: 800;
  color: var(--color-light);
  padding: 0 0px var(--font-80px) 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-info h2::after {
  display: block;
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  background: var(--color-lightblue);
  margin-top: 30px;
}

.about-info p {
  font-size: var(--font-18px);
  color: var(--color-gray);
  line-height: var(--font-24px);
  margin-bottom: var(--font-16px);
  font-family: "Karla", sans-serif;
}

@media screen and (max-width: 576px) {
  .content-about {
    padding: 40px 8px;
  }
  .about-info h2 {
    font-size: var(--font-28px);
  }
  .about-info span {
    font-size: 14px;
  }
  .about-info {
    width: 100%;
    padding-top: 32px;
  }
}

@media screen and (max-width: 768px) {
  .about-col {
    display: grid;
  }
  .about-img img {
    width: 100%;
  }
  .about-info {
    padding-top: 32px;
  }
}

@media screen and (max-width: 992px) {
  .content-about .row {
    display: flex !important;
    flex-direction: column;
  }
  .about-info {
    padding-top: 32px;
  }
}

@media screen and (max-width: 1200px) {
  .about-info span {
    font-size: 14px;
  }
  .about-info h2 {
    padding: 0 0px var(--font-40px) 0px;
    font-size: 32px;
  }
  .about-info h2::after {
    margin-top: 12px;
  }
}
