.about {
  background: var(--color-light);
}

.content-about {
  padding: var(--font-96px) 15px;
}

.about-img img {
  border-radius: 7px;
}

.about-info {
  padding: 0;
}

.about-info h2 {
  font-size: var(--font-48px);
  font-weight: 800;
  color: var(--color-black);
  padding: 0 0px var(--font-80px) 0px;
  text-shadow: 4px 4px 0px var(--color-lightblue);
}

.about-info h2::after {
  display: block;
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  background: var(--color-lightblue);
  margin-top: var(--font-32px);
}

.about-info p {
  font-size: var(--font-18px);
  color: var(--color-secondary);
  line-height: var(--font-24px);
  margin-bottom: var(--font-16px);
  font-family: "Karla", sans-serif;
}

@media screen and (max-width: 576px) {
  .about-info h2 {
    margin-top: var(--font-32px);
    font-size: var(--font-32px);
  }
}
