.about {
    padding: var(--font-96px) 15px;
}

.about-img img {
    border-radius: 7px;
}

.about-info {
    padding: 0;
}

.about-info h2 {
    font-size: var(--font-48px);
    font-weight: 600;
    color: var(--color-light);
    padding-bottom: var(--font-32px);
}

.about-info p {
    font-size: var(--font-18px);
    color: var(--color-gray);
    line-height: var(--font-32px);
    margin-bottom: var(--font-32px);
}