.contact {
    background: var(--color-black);
}

.content-contact {
    padding: var(--font-96px) 15px;
}

.title-contact h2 {
    padding: 0 15px var(--font-96px) 15px;
    font-size: var(--font-48px);
    font-weight: 700;
    color: var(--color-light);
}

.title-contact h2::after {
    display: block;
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background: var(--color-gradient);
    margin-top: var(--font-32px);
}

.contact-info h3 {
    font-size: var(--font-24px);
    font-weight: 700;
    color: var(--color-light);
    padding-bottom: var(--font-32px);
}

.contact-info p {
    color: var(--color-gray);
    margin-bottom: var(--font-24px);
}

.social-contact-icons {
    display: flex;
    justify-content: start;
}

.social-contact-icons li a i {
    padding: 0 var(--font-32px) 0 0;
    text-decoration: none;
    color: var(--color-light);
    font-size: var(--font-32px);
    transition: .3s;
}

.social-contact-icons li a i:hover {
    color: var(--color-primary-light);
    transition: .3s;
}

.contact-form {
    background: var(--color-light);
    padding: var(--font-64px) var(--font-32px);
    border-radius: 6px;
}

.contact-form input::placeholder {
    color: var(--color-secondary);
}

.contact-form textarea {
    background-color: var(--color-light);
}

.contact-form textarea::placeholder {
    color: var(--color-secondary);
}

.contact-form input[type=text] {
    background-color: var(--color-light);
    color: var(--color-secondary);
}

.contact-form input[type=email] {
    background-color: var(--color-light);
    color: var(--color-secondary);
}

.contact-form textarea:focus {
    background-color: var(--color-light);
    color: var(--color-secondary);
}

@media screen and (max-width: 576px) {
    .title-contact h2 {
        font-size: var(--font-32px);
    }
    .social-contact-icons {
        margin-bottom: var(--font-32px);
    }
}

@media (max-width: 720px) {
    .social-contact-icons {
        margin-bottom: var(--font-32px);
    }
}

@media (max-width: 960px) {
    .social-contact-icons {
        margin-bottom: var(--font-32px);
    }
    .social-contact-icons li a i {
        padding: 0 12px 0 0;
    }
}