.courses {
  background: var(--color-black);
}

.content-courses {
  padding: var(--font-96px) 15px;
}

.title-courses span {
  padding: 0 15px var(--font-96px) 15px;
  text-transform: uppercase;
  font-size: var(--font-16px);
  font-weight: 600;
  color: var(--color-lightblue);
  letter-spacing: 2px;
}

.title-courses h2 {
  padding: 0 15px var(--font-96px) 15px;
  text-transform: uppercase;
  font-size: var(--font-40px);
  font-weight: 800;
  color: var(--color-light);
  letter-spacing: 2px;
}

.title-courses h2::after {
  display: block;
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  background: var(--color-lightblue);
  margin-top: var(--font-32px);
}

.card-img-box {
  position: relative;
  overflow: hidden;
  border-radius: 0px;
  transition: 0.5s;
}

.img-box img {
  border-radius: 0px;
  width: 100%;
}

.img-box-hover {
  width: 100%;
  height: 100%;
  background: #2cdbee21; 
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.img-box-hover:hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: var(--font-40px);
}

.social-icons li a i {
  padding: 0 12px;
  text-decoration: none;
  color: var(--color-light);
  font-size: var(--font-32px);
  transition: 0.3s;
}

.social-icons li a i:hover {
  color: var(--color-lightblue);
  transition: 0.3s;
}

.card-courses {
  border: 1px solid #2cdbee2d;
  transition: all .3s;
}

.card-courses:hover {
  box-shadow: inset 0 0 30px 500px rgba(0, 117, 138, 0.185);
}

.card-content-box {
  text-align: center;
  padding: 0 18px 18px 24px;
}

.card-content-box h3 {
  padding-bottom: 8px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: var(--font-18px);
  font-weight: 800;
  padding-top: var(--font-32px);
  color: var(--color-light);
  font-family: 'Karla', sans-serif;
}

.card-content-box .course-name {
  line-height: 20px;
  font-size: var(--font-18px);
  font-weight: 600;
  color: var(--color-lightblue);
  padding-top: 8px;
  padding-bottom: 16px;
  font-family: "Karla", sans-serif;
}

.card-content-box .course-person {
  line-height: 20px;
  font-size: var(--font-16px);
  color: var(--color-gray);
  font-family: "Karla", sans-serif;
}

@media screen and (max-width: 576px) {
  .content-courses {
    padding: 40px 8px;
    margin-bottom: -40px;
  }
  .title-courses span {
    font-size: 14px;
  }
  .title-courses h2 {
    font-size: var(--font-28px);
  }
  .card-courses {
    margin: 10px 0;
  }
  .card-content-box h3 {
    font-size: var(--font-24px);
  }
}

@media screen and (max-width: 768px) {
  .content-courses {
    padding: 40px 8px;
    margin-bottom: -40px;
  }
  .title-courses span {
    font-size: 14px;
  }
  .title-courses h2 {
    font-size: var(--font-28px);
  }
  .card-courses {
    margin: 10px 0;
  }
  .card-content-box h3 {
    font-size: var(--font-24px);
  }
}

@media screen and (max-width: 992px) {
  .content-courses .row {
    display: flex !important;
    flex-direction: column;
  }
  .content-courses {
    padding: 40px 8px;
    margin-bottom: -40px;
    display: flex !important;
    flex-direction: column;
  }
  .title-courses span {
    font-size: 14px;
  }
  .title-courses h2 {
    font-size: var(--font-28px);
  }
  .card-courses {
    margin: 10px 0;
  }
  .card-content-box h3 {
    font-size: var(--font-24px);
  }
}

@media screen and (max-width: 1200px) {
  .title-courses span {
    font-size: 14px;
  }
  .title-courses h2 {
    padding: 0 15px var(--font-64px) 15px;
    font-size: 32px;
  }
  .title-courses h2::after {
    margin-top: 16px;
  }
}
