.content-event {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--font-56px) 15px;
    border-bottom: 1px solid var(--color-primary-dark);
}

.event-counter-info h2 {
    font-size: var(--font-48px);
    font-weight: 600;
    color: var(--color-light);
}

.event-counter-info h5 {
    font-size: var(--font-24px);
    color: var(--color-gray);
    padding: 8px 0;
}

.event-counter-info p {
    font-size: var(--font-16px);
    color: var(--color-gray);
}

.event-counter-info p i {
    margin-right: 5px;
    font-size: var(--font-18px);
}

.event-counter-timer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.counter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-box .time {
    font-size: var(--font-48px);
    color: var(--color-light);
    padding: 0 var(--font-32px);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.counter-box .time span {
    font-weight: 600;
}

.counter-box .text {
    font-size: var(--font-16px);
    font-weight: 200;
    color: var(--color-light);
}

@media screen and (max-width: 576px) {
    .content-event {
        display: block;
    }
    .event-counter-timer {
        flex-direction: column;
    }
    .event-counter-info h2 {
        font-size: var(--font-32px);
    }
    .counter-box .time {
        font-size: var(--font-24px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .counter-box {
        margin-top: var(--font-40px);
    }
}

@media screen and (max-width: 768px) and (max-width: 992px){
    .counter-box {
        margin-top: var(--font-40px);
    }
}

@media screen and (max-width: 992px){
    .counter-box {
        margin-top: var(--font-40px);
    }
}