.footer {
  padding: var(--font-32px) 15px;
  background: var(--color-black);
}
.content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info p {
  color: var(--color-light);
}

.content-footer p a {
  text-decoration: none;
  color: var(--color-primary-light);
  font-weight: 700;
}

.footer-brand {
  width: 70px;
}

@media screen and (max-width: 576px) {
  .footer-info p {
    font-size: 14px;
  }
  .footer-brand {
    width: 60px;
  }
}
