.navigation {
  position: absolute;
  padding: 5px 0;
  z-index: 1000;
  width: 100%;
  background: rgba(6, 0, 24, 0.8);
  transition: all 0.3s;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-brand {
  width: 65px;
}

.navbar-menu ul {
  display: flex;
}

.navbar-menu ul li a {
  color: var(--color-light);
  margin-left: var(--font-32px);
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 0;
  transition: all 0.2s;
}

.navbar-menu ul li a:hover {
  color: var(--color-lightblue);
  transition: all 0.3s;
}

.navbar-menu ul li .btn-ticket {
  padding: 16px 32px;
  border-radius: 7px;
  background: var(--color-purple);
  transition: all 0.2s;
}

.navbar-menu ul li .btn-ticket:hover,
.btn-ticket:focus {
  color: var(--color-light);
  box-shadow: inset 0 0 0 2em #1fa86b;
  transition: all 0.2s;
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.menu-toggle i {
  font-size: 32px;
  color: var(--color-light);
}

.menu-toggle i:hover {
  font-size: 32px;
  color: var(--color-purple);
}

.menu-toggle div {
  width: var(--font-32px);
  height: 2px;
  margin: 6px 0;
  border-radius: 0px;
  background-color: var(--color-light);
}

@media screen and (max-width: 576px) {
  .navigation {
    padding: 0px 0;
    z-index: 0;
  }
  .navbar .navbar-brand {
    width: 55px;
  }
  .navbar-menu ul li .btn-ticket {
    padding: 10px 32px;
    border-radius: 7px;
    background: var(--color-pink);
  }
  .navbar-menu ul li .btn-ticket:hover {
    color: var(--color-light);
  }
  .menu-toggle {
    cursor: pointer;
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .navbar-menu {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-menu {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}
