.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: var(--color-black);
  overflow-x: hidden;
  padding-top: 160px;
  transition: 0.5s;
  text-align: center;
}

.sidenav a {
  padding: 8px var(--font-32px) 8px var(--font-32px);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-light);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--color-lightblue);
}

.sidenav li {
  display: flex;
  justify-content: center;
}

.sidenav li .btn-ticket {
  margin-top: 10px;
  padding: 16px 32px;
  border-radius: 7px;
  background: var(--color-purple);
  font-weight: 600;
}

.sidenav li .btn-ticket:hover {
  box-shadow: inset 0 0 0 3em var(--color-lightblue);
  color: var(--color-light);
}

.sidenav .closebtn {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: var(--font-24px);
  font-size: var(--font-32px);
  margin-left: var(--font-48px);
}

#main {
  transition: margin-left 0.5s;
  padding: var(--font-24px);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: var(--font-112px);
  }
  .sidenav a {
    font-size: var(--font-18px);
  }
}
