.speakers {
  background: var(--color-black);
}

.content-speakers {
  padding: var(--font-96px) 15px;
}

.card-img-box {
  width: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  transition: 0.5s;
}

.img-box img {
  border-radius: 7px;
}

.img-box-hover {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    126deg,
    rgba(45, 0, 178, 0.5) 25%,
    rgba(26, 0, 97, 0.5) 75%
  );
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.img-box-hover:hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: var(--font-40px);
}

.social-icons li a i {
  padding: 0 12px;
  text-decoration: none;
  color: var(--color-light);
  font-size: var(--font-32px);
  transition: 0.3s;
}

.social-icons li a i:hover {
  color: var(--color-secondary);
  transition: 0.3s;
}

.card-content-box {
  text-align: center;
}

.card-content-box h3 {
  text-transform: uppercase;
  font-size: var(--font-24px);
  font-weight: 600;
  padding-top: var(--font-32px);
  color: var(--color-light);
  letter-spacing: 1.1px;
}

.card-content-box p {
  font-size: var(--font-16px);
  color: var(--color-gray);
  padding-top: 8px;
}

.title-speakers h2 {
  padding: 0 15px var(--font-96px) 15px;
  font-size: var(--font-48px);
  font-weight: 600;
  color: var(--color-light);
}

.title-speakers h2::after {
  display: block;
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  background: var(--color-gradient);
  margin-top: var(--font-32px);
}

@media screen and (max-width: 576px) {
  .title-speakers h2 {
    font-size: var(--font-32px);
  }
}
