.sponsors {
    background: var(--color-light);
}

.content-sponsors {
    padding: var(--font-96px) 15px;
    text-align: center;
}

.title-realization h2 {
    font-size: var(--font-48px);
    font-weight: 800;
    color: var(--color-black);
}

.title-sponsors h2 {
    font-size: var(--font-48px);
    font-weight: 800;
    color: var(--color-black);
}

.title-support h2 {
    font-size: var(--font-48px);
    font-weight: 800;
    color: var(--color-black);
}

.box-realization {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--font-56px) 0;
}

.img-realization {
    padding-top: var(--font-48px);
}

.box-sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--font-56px) 0;
}

.img-sponsors {
    display: flex;
    align-items: center;
    padding-top: var(--font-48px);
}

.img-sponsors img {
    padding-right: var(--font-32px);
}

.box-support {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--font-56px) 0;
}

.img-support {
    padding-top: var(--font-48px);
}

@media screen and (max-width: 576px) {
    .title-realization h2 {
        font-size: var(--font-32px);
    }
    .title-sponsors h2 {
        font-size: var(--font-32px);
    }
    .title-support h2 {
        font-size: var(--font-32px);
    }
}