.subfooter {
  padding: var(--font-96px) 15px;
  background: var(--color-secondary);
}

.content-subfooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 70px;
}

.subfooter-infos {
  flex: 0;
}

.subfooter-infos .subfooter-brand {
  width: 80px;
}

.subfooter-contact {
  flex: 1;
}

.subfooter-contact span {
  color: var(--color-lightblue);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subfooter-contact h3 {
  color: var(--color-light);
  font-size: 20px;
  font-weight: 700;
  padding-bottom: var(--font-32px);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subfooter-contact .info-contact {
  padding-bottom: 40px;
}

.subfooter-contact .info-contact p {
  color: var(--color-gray);
  font-weight: 500;
}

.subfooter-contact .social-contact-icons {
  display: flex;
  grid-gap: 24px;
}

.subfooter-contact .social-contact-icons li a i {
  text-decoration: none;
  color: var(--color-black);
  font-size: var(--font-32px);
  transition: all 0.3s;
  background: var(--color-light);
  padding: 10px;
  border-radius: 10px;
}

.subfooter-contact .social-contact-icons li a i:hover {
  box-shadow: inset 2.5em 0 0 0 var(--color-lightblue);
  color: var(--color-light);
}

.subfooter-links {
  flex: 1;
}

.subfooter-links span {
  color: var(--color-lightblue);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subfooter-links h3 {
  color: var(--color-light);
  font-size: 20px;
  font-weight: 700;
  padding-bottom: var(--font-32px);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subfooter-links ul {
  line-height: 32px;
}

.subfooter-links ul li a {
  color: var(--color-light);
  font-weight: 500;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  transition: all 0.3s;
}

.subfooter-links ul li a:hover {
  color: var(--color-lightblue);
}

.subfooter-networks {
  flex: 1;
  padding-right: 50px;
}

.subfooter-networks h3 {
  color: var(--color-black);
  font-size: var(--font-24px);
  font-weight: bold;
  padding-bottom: var(--font-80px);
}

@media screen and (max-width: 576px) {
  .subfooter {
    padding: 40px 8px;
  }
  .content-subfooter {
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
  }
  .subfooter-infos {
    margin: 0;
  }
  .subfooter-contact {
    margin-top: 0px;
  }
  .subfooter-links {
    margin-top: 0px;
  }
  .subfooter-links h3 {
    padding-bottom: var(--font-56px);
  }
  .subfooter-links ul {
    margin-top: -25px;
  }
  .subfooter-networks {
    padding: 0;
  }
  .subfooter-networks h3 {
    padding-top: var(--font-56px);
    padding-bottom: var(--font-56px);
  }
  .social-subfooter-icons {
    margin-bottom: 0;
  }
  .subfooter-brand img {
    width: 65px;
  }
}

@media (max-width: 720px) {
  .content-subfooter {
    display: flex;
    flex-direction: column;
  }
  .subfooter-infos {
    padding: 0;
  }
  .subfooter-infos p {
    padding-bottom: var(--font-56px);
  }
  .subfooter-links {
    padding: 0;
  }
  .subfooter-links h3 {
    padding-bottom: var(--font-56px);
  }
  .subfooter-networks {
    padding: 0;
  }
  .subfooter-networks h3 {
    padding-top: var(--font-56px);
    padding-bottom: var(--font-56px);
  }
  .social-subfooter-icons {
    margin-bottom: 0;
  }
  .social-subfooter-icons {
    margin-bottom: var(--font-32px);
  }
}

@media (max-width: 960px) {
  .social-subfooter-icons {
    margin-bottom: var(--font-32px);
  }
}
