.wrapper {
    width: 100%;
    height: auto;
    background: transparent;
    /* background-image: url('/src/assets/bg-hero.jpg');
    background-size: cover;
    background-position: center; */
}

/* .particles-bg {
    background-image: url('/src/assets/logo-circulo-2.png');
    background-size: 30%;
    background-position: 50% 35%;
    background-repeat: no-repeat;
    z-index: 100;
} */

.content-area {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.content-area-wrapper {
    /* margin-top: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content-area-wrapper .t-1 {
    display: flex;
    justify-content: center;
    font-size: var(--font-80px);
    font-weight: 800;
    color: var(--color-light);
    max-width: 700px;
    text-shadow: 5px 5px 0px var(--color-pink);
}

.content-area-wrapper .t-1::before {
    display: block;
    content: "";
    position: absolute;
    background: var(--color-lightblue);
    width: 700px;
    height: 50px;
    margin-top: 50px;
    z-index: -1; 
}

.content-area-wrapper .t-2 {
    display: flex;
    justify-content: center;
    font-size: var(--font-80px);
    font-weight: 800;
    color: var(--color-light);
    max-width: 700px;
    text-shadow: -5px -5px 0px var(--color-lightblue);
}

.content-area-wrapper .t-2::before {
    display: block;
    content: "";
    position: absolute;
    background: var(--color-pink);
    width: 420px;
    height: 50px;
    margin-top: 4px;
    z-index: -1; 
}

.content-area-wrapper p {
    font-size: var(--font-18px);
    color: var(--color-gray);
    padding: var(--font-24px) 0 var(--font-32px);
    font-family: 'Karla', sans-serif;
}

@media screen and (max-width: 576px) {
    .content-area-wrapper h1 {
        font-size: var(--font-48px);
        text-align: center;
    }
    .content-area-wrapper h1::before {
        content: none;
    }
    .content-area-wrapper p {
        text-align: center;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .buttons .btn-main {
        margin: 8px 0;
    }
}