.wrapper {
  width: 100%;
  height: auto;
}

.content-area {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.content-area-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content-area-wrapper h1 {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  text-transform: uppercase;
  font-size: var(--font-64px);
  font-weight: 800;
  color: var(--color-light);
  max-width: 700px;
}

.content-area-wrapper h1::after {
  position: absolute;
  content: "";
  height: 15px;
  width: 580px;
  margin-left: 0px;
  margin-top: 40px;
  z-index: -1;
  background: var(--color-pink);
  box-shadow: 0 15px 0 0 var(--color-lightblue);
}

.content-area-wrapper h6 {
  width: 470px;
  margin-top: 16px;
  margin-bottom: 38px;
  text-transform: uppercase;
  text-align: left;
  font-size: var(--font-18px);
  font-weight: 600;
  font-family: "Karla", sans-serif;
  color: #ffffff;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
}

@media screen and (max-width: 576px) {
  .content-area {
    padding: 0;
    justify-content: center;
  }
  .content-area-wrapper h1 {
    font-size: var(--font-32px) !important;
    justify-content: center;
    text-align: center;
  }
  .content-area-wrapper h1::after {
    content: none;
  }
  .content-area-wrapper h6 {
    width: 100%;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    background-color: transparent;
  }
  .content-area-wrapper p {
    text-align: center;
  }
  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .buttons .btn-main {
    width: 100%;
    margin: 0px 0;
    font-size: 14px;
  }
  .btn-main:hover {
    background-color: #d30066d2 !important;
    box-shadow: none;
    color: var(--color-light);
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    height: 600px;
  }
  .content-area {
    justify-content: center;
  }
  .content-area-wrapper h1 {
    font-size: var(--font-48px);
    justify-content: center;
    text-align: center;
  }
  .content-area-wrapper h1::after {
    content: none;
  }
  .content-area-wrapper h6 {
    width: 100%;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    background-color: transparent;
  }
  .content-area-wrapper p {
    text-align: center;
  }
}
